/* Google Font - Kumbh Sans */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Variables */
:root {
  /* Colors - Primary */
  --colors-dark-cyan: hsl(185, 75%, 39%);
  --colors-dark-desaturated-blue: hsl(229, 23%, 23%);
  --colors-grayish-blue: hsl(227, 10%, 46%);
  /* Colors - Neutral */
  --colors-dark-gray: hsl(0, 0%, 59%);
  /* Fonts */
  --fonts-main: 'Kumbh Sans', sans-serif;
}
/* Global Rules  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 18px;
}
body {
  font-family: var(--fonts-main);
  cursor: default;
}
/* Reset Some Elements */
ul {
  list-style: none;
}

/* Centering component */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 24px;
  background-color: var();
}
